<%- include('../partials/header') %> <%- include('../partials/nav') %>
<section class="container-lg mt-5">
  <div class="row gap-3 p-lg-5 py-md-4 px-md-3  p-sm-3 p-3 align-items-center justify-content-center justify-content-lg-between bg-info-subtle rounded shadow">
    <h2><%= title + " ( " +  status  + " ) " %></h2>
    <h6><%= message %></h6>
  </div>
</section>
<%- include('../partials/footer') %>