<%- include('../partials/header') %> <%- include('../partials/nav') %>
<section class="mx-5 mt-5">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="w-75">
      <div class="container">
        <h2 class="py-2">Todos os Posts</h2>
        <p class="pb-2">Descubra histórias, ideias e perspectiva de nossa comunidade.</p>
        <div class="cards mt-4 ">
          <% posts.forEach(post => { %>
            <div class="card mb-4 shadow border-0">
              <div class="row g-0 align-items-center">
                
                <!-- Image -->
                <div class="col-md-4 px-3 py-3">
                  <img 
                    src=<%= post.imageUrl === undefined ? "https://loremflickr.com/900/500/" + post.tags : post.imageUrl %> 
                    class="img-fluid rounded" 
                    alt="Imagem do post"
                  >
                </div>

                <!-- Body -->
                <div class="col-md-7">
                  <div class="card-body">

                    <!-- Title -->
                    <h5 class="card-title mt-2">
                      <a class="link-offset-2 link-underline link-underline-opacity-0 text-primary-emphasis" href="/posts/<%= post._id %>"><%= post.title %></a>
                    </h5>

                    <!-- Description -->
                    <p class="card-text text-body-secondary mb-2">
                      <%= post.content.slice(0, 100) %> 
                    </p>

                    <!-- Footer -->
                    <div class="d-flex justify-content-between align-items-center mt-5">

                      <!-- Author -->
                      <div class="d-flex align-items-center">
                        <!-- <img 
                          src="https://via.placeholder.com/30" 
                          class="rounded-circle" 
                          width="30" 
                          height="30"
                        > -->
                        <small class="text-body-secondary">🧑🏻‍🦰 <%= post.author.name %></small>
                      </div> 

                      <!-- Infos -->
                      <div class="d-flex gap-3 text-body-secondary small">
                        <!-- <span>8 min</span> -->
                        <span>💬 <%= post.commentsCount %></span>
                        <span class="text-body-secondary"
                          >📆 <%= new Date(post.createdAt).toLocaleString("en-US", { dateStyle: "medium" }) %>
                        </span>
                      </div>

                    </div>

                  </div>
                </div>

              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="navigation">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <% if (page > 1) { %>
            <li class="page-item">
              <a class="page-link" href="/posts?page=<%= page - 1 %>&search=<%= search %>&sort=<%= sort %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          <% } %>
          <% for( let i = 1; i <= totalPages; i++ ) { %>
            <li class="page-item"><a class="page-link" href="/posts?page=<%= i %>&search=<%= search %>&sort=<%= sort %>"><%= i %></a></li>
          <% } %>

          <% if (page < totalPages) { %>
            <li class="page-item">
              <a class="page-link" href="/posts?page=<%= page + 1 %>&search=<%= search %>&sort=<%= sort %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
