<%- include('../partials/header') %> <%- include('../partials/nav') %>
<section class="container-lg mt-5">
  <div class="row gap-3 p-lg-5 p-md-4 p-sm-3 px-3 py-5 align-items-center justify-content-center justify-content-lg-between bg-info-subtle rounded shadow">
    <div class="col-lg-6 col-md-5 col-sm-4">
      <img src="/images/login.png" class="img-fluid rounded imageLogin" alt="imagem do login">
    </div>
    <div class="col-lg-5 col-md-6 col-sm-7 col-10">
      <h1 class="text-primary-emphasis">Entrar na sua conta</h1>
      <p class="text-body-secondary">Bem-vindo de volta! Faça login para continuar.</p>
      <form action="/login" method="post" class="mt-4">

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
            aria-errormessage="emailError"
          />

          <% if (typeof(error) !== "undefined") { %>
            <div id="emailError" class="form-text">
              <%= error.email %>
            </div>
          <% } %>
        </div>

        <div class="mb-4">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" name="password" aria-errormessage="passwordError" required/>
          <% if (typeof(error) !== "undefined") { %>
            <div id="passwordError" class="form-text">
              <%= error.password || error %>
            </div>
          <% } %>
        </div>

        <div class="d-grid mb-4">
          <button type="submit" class="btn btn-primary">Entrar</button>
        </div>

        <div class="text-center pt-2">
          <span>
            Não tem uma conta? <a href="/users/register" class="fw-medium">Cadastre-se</a>.
          </span>
        </div>
      </form>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
