<%- include('../partials/header') %> <%- include('../partials/nav') %>
<section class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 p-5 bg-info-subtle">
      <h1 class="pb-3">Login</h1>
      <form action="/signin" method="post">

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-errormessage="emailError"
          />

          <% if (typeof(error) !== "undefined") { %>
            <div id="emailError" class="form-text">
              <%= error.email %>
            </div>
          <% } %>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" name="password" aria-errormessage="passwordError" />
          <% if (typeof(error) !== "undefined") { %>
            <div id="passwordError" class="form-text">
              <%= error.password %>
            </div>
          <% } %>
        </div>

        <div class="mb-4 text-center">
          <span>
            Não tem uma conta? <a href="/register">Cadastre-se</a>.
          </span>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
