<%- include('../partials/header') %> <%- include('../partials/nav') %>
<section class="m-lg-5 m-md-5 m-sm-4 m-4 pb-5">
  <div class="row align-items-center justify-content-center">
    <div class="content col-lg-11 col-md-11 col-sm-12">

      <!-- Title -->
       <h1 class="card-title py-3">
        <%= post.title %>
      </h1>

      <!-- Info -->
       <div class="info py-3">
        <div class="d-flex align-items-center column-gap-3 row-gap-3 flex-wrap">
          <div class="d-flex align-items-center">
            <img src="/images/ImagePerfil.png" class="img-fluid rounded-circle imageAuthorPost" alt="Image Perfil">
            <span class=" fw-semibold ms-3"><%= post.author.name %></span>
          </div>
          <span>•</span>
          <span class="text-body-secondary"> 
            <span class=" fw-medium">Publicado em:</span> 
            <%= new Date(post.createdAt).toLocaleString("pt-BR", { dateStyle: "long" }) %>
          </span>
          <span>•</span>
          <span class="text-body-secondary">
            <span class=" fw-medium">Atualizado em:</span> 
            <%= new Date(post.updatedAt).toLocaleString("pt-BR", { dateStyle: "long" }) %>
          </span>
        </div>   
       </div>

       <!-- Image -->
      <div class="my-3 py-2 text-center">
        <img 
          src=<%= post.imageUrl %> 
          class="img-fluid rounded fullImagePost" 
          alt="Imagem do post"
        >
        
      </div>

      <!-- Content -->
      <div class="my-4 post-content">
        <% post.content.split('\n').filter(p => p.trim() !== "").forEach(p => { %>
          <p class="mb-3"><%= p %></p>
        <% }) %>
      </div>

    </div>
    <div class="comments card col-lg-11 col-md-11 col-sm-11 col-12 mt-4 mb-3 shadow border-0">
      <div class="card p-4 border-0">
        <h3>Comentários (<%= comments.length %>)</h3>
        <% if (user !== null) { %>
          <form class="mt-4" action="/posts/<%= post._id %>/comments" method="post">
            <div class="d-flex gap-3">
              <!-- Avatar -->
              <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle text-light fw-semibold fs-5" style="height: 50px; width: 50px;">
                <%= user.name.charAt(0).toUpperCase() %>
              </div>

              <!-- Input and Button -->
              <div class="flex-grow-1">
                <textarea class="form-control mb-2" id="comment" name="text" rows="3" placeholder="Escreva um Comentário..."></textarea>
                
                <div class="d-flex justify-content-end mt-3">
                  <button class="btn btn-primary" type="submit">Publicar Comentário</button>
                </div>
              </div>
            </div>
          </form>
        <% } else { %>
          <p class="mt-3 ms-3 fs-5">
            <a href="/login" class=" ">Faça Login</a> para Comentar.
          </p>
        <% } %>
      </div>
      <div class="card gap-3 mt-2 mb-4 mx-4 py-4 border overflow-y-auto cardComment">
        <% if (comments.length > 0) { %>
          <% comments.forEach((comment, i) => { %>
            <div class="d-flex gap-3 px-2 align-items-center">
              <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary rounded-circle text-light fw-semibold fs-5 authorComment">
                <%= comment.author.name.charAt(0).toUpperCase() %>
              </div>
              <div class="flex-grow-1 comment">
                <div class="comment-info">
                  <span class="fw-medium small"><%= comment.author.name %></span>
                  <span class="mx-1">•</span>
                  <span class="comment-date small me-4 text-body-secondary" data-date="<%= comment.createdAt %>"></span>
                  <% if (comment.author.name === post.author.name) { %>
                  <div class="badge rounded-pill text-bg-info text-primary-emphasis text-start">Autor</div>
                  <% } %>
                </div>
                <div class="comment-text small ms-1">
                  <%= comment.text %>
                </div>
              </div>
            </div>
            <% if ((i + 1) < comments.length) { %>
              <hr>
            <% } %>
          <% }); %>
        <% } else { %>
          <div class="text-center">
            <h6>Post sem Comentários.</h6>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>