<%- include('../partials/header') %> <%- include('../partials/nav') %>
<section class="container-lg mt-5">
  <div class="row gap-3 p-5 align-items-center justify-content-center justify-content-lg-between bg-info-subtle rounded shadow">
    <div class="col-6">
      <img src="/images/register.png" class="img-fluid rounded" alt="imagem do cadastro" style="width: 100%">
    </div>
    <div class="col-sm-9 col-md-6 col-lg-5">
      <h1 class="text-primary-emphasis">Crie sua conta</h1>
      <p class="text-body-secondary">Junte-se à nossa comunidade e comece a compartilhar.</p>
      <form action="/users/register" method="post" class="mt-4">
        <div class="mb-3">
          <label for="name" class="form-label fw-semibold">Nome</label
          >
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            required
            aria-errormessage="nameError"
          />
          <% if (typeof error !== "undefined" && error.name) { %>
            <div id="nameError" class="form-text">
              <%= error.name.message %>
            </div>
          <% } %>
        </div>

        <div class="mb-3">
          <label for="bio" class="form-label fw-semibold">Bio <span class="text-body-secondary small fw-normal"> (opicional) </span></label>
          <textarea class="form-control" id="bio" name="bio" rows="3" placeholder="Insira uma Bio interessante..."></textarea>
          <% if (typeof(error) !== "undefined" && error.bio) { %>
            <div id="bioErro" class="form-text text-danger fw-medium m-2 pt-1">
              ⚠️ <%= error.bio.message %>
            </div>
          <% } %>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label fw-semibold">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
            aria-errormessage="emailError"
          />

          <% if (typeof error !== "undefined" && error.email) { %>
            <div id="emailError" class="form-text">
              <%= error.email.message %>
            </div>
          <% } %>
        </div>

        <div class="mb-4">
          <label for="password" class="form-label fw-semibold">Senha</label>
          <input type="password" class="form-control" id="password" name="password" aria-errormessage="passwordError" required />
          <% if (typeof error !== "undefined" && error.password) { %>
            <div id="passwordError" class="form-text">
              <%= error.password.message %>
            </div>
          <% } %>
        </div>

        <div class="d-grid mb-4">
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>

        <div class="text-center pt-2">
          <span>
            Já tem uma conta? <a href="/login" class="fw-medium">Faça Login</a>.
          </span>
        </div>
      </form>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
